a:hover {
    text-decoration: none;
}
body {
    background: url('../images/abstract-seamless-pattern-with-winter-forest-background_1015-1672.jpg');
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 300px;
    margin: 300px auto;
    border-radius: 60px;
    background: cadetblue;
}
.button span {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    position: absolute;
    


}
.click__bg {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
}

.click__form {
    width: 310px;
    height: 230px;
    background: cadetblue;
    position: absolute;
    top: 30%;
    left: 42%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.click__form span {
    color: aliceblue;
    font-size: 14px;
    margin-bottom: 5px;
    visibility: hidden;
}

.form__close {
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
    width: 20px;
    height: 20px;
    background: url('../images/blueclose.png') 0 0/cover no-repeat;
    
}
.form__mg {
    margin-bottom: 5px;
    display: block;
}

.form__submit {
    width: 80px;
    border: 0px;
    border-radius: 5px;
    height: 24px;
    margin: 15px;
}
.form__text {
    width: 250px;
    border: 0px;
    border-radius: 5px;
}
